.faro-header {
    background-image: url("../../assets/faro.webp");
    background-size: cover;
    background-position: center;
}

.faro-header > .jumbotron {
    background-color: rgba(233, 236, 239, 0.7);
}