.home-header {
    background-image: url("../../assets/home_m.webp");
    background-size: cover;
    background-position: center;
}

.home-header > .jumbotron {
    background-color: rgba(233, 236, 239, 0.7);
    border-radius: 0;
}
